<div>
	name: <%= @player.name %><br/>
	rank: <%= @player.rank %><br/>
	Goals: <%= @player.goals %><br/>
	Assists: <%= @player.assists %><br/>
	<%= link_to "Delete", league_player_path(:player_id => @player.id), :method => :delete, :confirm => "Are you sure you want to delete #{@player.name}?" %>
</div>